@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  :root {
    --light-cyan: 193deg 38% 86%;
    --neon-green: 150deg 100% 66%;
    --grayish-blue: 217deg 19% 38%;
    --dark-grayish-blue: 217deg 19% 24%;
    --dark-blue: 218deg 23% 16%;
    
  }
}